.large_button {
    padding: 30px;
    font-size: 128px;
}

.buy {
    margin-left: 250px;
    margin-top: 150px;
}

.sell {
    margin-left: 270px;
    margin-top: 150px;
}

.play {
    margin-left: 600px;
    margin-top: 150px;
}

.error {
    color: red;
    display: none;
}