<!DOCTYPE html>
<html>

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Store</title>

    <link rel="stylesheet" type="text/css" href="../lib/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">

</head>

<body>
    <div class="ui clearing segment">

        <div id="userdiv"></div>
        <h3 class="ui left floated header">
            <a href="index.html"><button>Home</button> </a>
        </h3>
        <h3 class="ui left floated header">
            <i class="money icon"></i>
            <div class="content">
                Sell
                <div class="sub header">Sell cards</div>
            </div>
        </h3>
    </div>


    <div class="ui grid">
        <div class="ten wide column">
            <!--  <h3 class="ui center aligned header"> Card List</h3> -->
            <h3 class="ui aligned header"> Card List</h3>
            <!------------------------------------------------------------------------->
            <!--    ----------------------------- List ----------------------------- -->
            <!------------------------------------------------------------------------->
            <table class="ui fixed selectable single line celled table" id="cardListId">
                <thead>
                    <tr>
                        <th class="three wide">Name</th>
                        <th class="three wide">Description</th>
                        <th>Family</th>
                        <th>HP</th>
                        <th>Energy</th>
                        <th>Defense</th>
                        <th>Attack</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tableContent">
                    <tr id="error_card" hidden>
                        <td>
                            No cards available.
                        </td>
                    </tr>

                    <template id="row">
                            <tr>
                                <td>
                                   {{name}}
                                </td>
                                <td >{{description}}</td>
                                <td>{{family}}</td>
                                <td>{{hp}}</td>
                                <td>{{energy}}</td>
                                <td>{{defense}}</td>
                                <td>{{attack}}</td>
                                <td>{{price}}$</td>
                                <td>
                                    <div class="ui vertical animated button" tabindex="0">
                                        <div class="hidden content">Sell</div>
                                        <div class="visible content">
                                            <i class="shop icon"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </template>
                </tbody>

            </table>
        </div>
        <div class=" five wide column">

            <!------------------------------------------------------------------------->
            <!--    ----------------------------- CARD ----------------------------- -->
            <!------------------------------------------------------------------------->
            <div id="card"></div>

        </div>

    </div>



    <script src="./lib/jquery-3.3.1.min.js"></script>
    <script src="./lib/Semantic-UI-CSS-master/semantic.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/sell.js"></script>


</body>

</html>