<h3 id="user_profile" class="ui right floated header">
            <i class="user circle outline icon"></i>
            <div class="content">
                <span id="userNameId">Jdoe</span>
                <div class="sub header"><span id="userMoney">5000</span>$</div>
            </div>
</h3>